<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
   <!-- --> <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Register</title>
</head>
<body>
    <header>
        <section class="header-style-top">
            <div class="header-one">
                <img class="img-logo" src="./images/logo-mercado-liebre.svg" alt="logo" width="180">
                <div class="search-bar">
                    <input  type="text" placeholder="Buscar productos, marcas">
                    <button><i class="fas fa-search"></i></button>
                </div>
            </div>
                <p class="header-text"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        </section>
        <nav class="header-style-bottom">
            <ul class="left-nav">
                <li> <a href="#">Ofertas</a></li>
                <li> <a href="#">Tiendas oficiales</a> </li>
                <li> <a href="#">Vender</a> </li>
                <li> <a href="#">Ayuda</a> </li>
            </ul>
            <ul class="right -nav">
                <li> <a href="register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li> <a href="login">Ingresa <i class="fas fa-sign-in-alt"></i></a> </li>
                <li> <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a> </li>
            </ul>
        </nav>
        <a href="#" class="burger-menu"><i class="fas fa-bars fa-lg"></i></a>
    </header>
    <main>
        
            <form action="/create-user" method="POST">
                <div class="container">
                    <input type="text" name="nombres" placeholder="Nombre y Apellido" minlength="2" required>
                </div>
                <div class="container">
                    <input type="text" name="usuario" placeholder="Nombre de usuario" minlength="2" required>
                </div>
                <div class="container">
                    <input type="email" name="email" placeholder="E-mail" required>
                </div>
                <div class="container">
                    <label class="title">
                        Fecha de nacimiento
                    </label>
                    <input type="date" name="fecha" required>
                </div>
                <div class="container">
                    <input type="text" name="domicilio" placeholder="Domicilio" required>
                </div>
                <div class="container">
                    <label class="title">
                        Perfil de usuario
                    </label>
                    <div class="radio-button">
                        <div>
                            <input type="radio" name="perfil" value="vendedor" required>
                            <label>Vendedor </label>
                        </div>
                        <div>
                            <input type="radio" name="perfil" value="comprador" required>
                            <label>Comprador </label>
                        </div>
                        
                    </div>
                </div>
                <div class="container">
                    <label class="title">
                        Intereses
                    </label>
                    <div class="check-button">
                        <p>
                            <input type="checkbox" name="intereses" value="electro">
                            <label>Electro</label>
                        </p>
                        <p>
                            <input type="checkbox" name="intereses" value="moda">
                            <label>Moda </label>
                        </p>
                        <p>
                            <input type="checkbox" name="intereses" value="hogar">
                            <label>Hogar</label>
                        </p>
                        <p>
                            <input type="checkbox" name="intereses" value="jugueteria">
                            <label>Jugueteria </label>
                        </p>
                        <p>
                            <input type="checkbox" name="intereses" value="vida-sana">
                            <label>Vida Sana </label>
                        </p>
                    </div>
                </div>
                <div class="container">
                    <label class="title">
                        Foto de usuario
                    </label>
                    <input type="file" name="avatar" accept=".jpg .png" required>
                </div>
                <div class="container">
                    <input type="password" id="password" placeholder="Contraseña" minlength="8" required>
                </div>
                <div class="container">
                    <input type="password" id="confirm-password" placeholder="Confirmar contraseña" required>
                </div>
                <div class="container">
                    <div class="buttons">
                        <button type="submit">Enviar</button>
                        <button type="reset">Borrar</button>
                    </div>
                </div>
            </form>
    </main>
    <footer>
        <section>
            <article class="text-center"> 
                <div>
                    <i class="fas fa-credit-card fa-2x icon-style"></i>
                </div>
                <h4>Pagá con tarjeta o en efectivo</h4> 
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="text-center">
                <div>
                    <i class="fas fa-gift fa-2x icon-style"></i>
                </div>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="text-center">
                <div>
                    <i class="fas fa-user-shield fa-2x icon-style"></i>
                </div>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@</p>
            </article>
        </section>
        <p id="credits">Copyright &copy 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>