@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h2{
    font-size: 24px;
    font-weight: 1000;
}

p, ul{
    font-size: 14px;
}
a:hover {    
	text-decoration: underline;
  
}

header{
    background-color: #EAC926;
    width: 100%;
    padding:20px;
}

header .header-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .img-logo{
    width: 50%;
}
header .search-bar{
   width:50%;
   margin: 0 5px;
   background: #fff;
   height: 30px;
   border-radius: 5px;
   padding: 10px 5px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   position: relative;
}
header .search-bar input, .search-bar button{
    background-color: transparent;
    border:0;
}
header .search-bar button{
    position: absolute;
    right: 0px;
    cursor: pointer;
}
header .search-bar input{
    width: 90%;
}
header .burger-menu{
    display: block;
    color:white;
    background-color: #1259c3;
    max-width: 40px;
    border-radius: 12%;
    padding: 11px 0px; 
    text-align: center;
    margin: auto;
    font-size: 17px;
}
header .burger-menu:hover{
    cursor:pointer;
    opacity:0.85
}
header .header-style-bottom{
    position: absolute;
    background:#EAC926;
    width: 100%;
    margin-left: -110%;
}
header .header-style-bottom ul{ 
    list-style: none;
    padding:0;
    margin: 0;
}

header .header-style-bottom li a{
    text-decoration: none;
    color: black;
    display: inline-block;
   width:100%;
   padding:10px;
   border-bottom: 1px solid;
}
#btn-menu{
    display: none;
}
#btn-menu:checked ~ .header-style-bottom{
    margin-left: -20px;
    transition: all 0.3s;
}
header .header-text{
    margin-right: 5px;
    text-align: center;
    display: block;
}
section .banner{
    width: 100%;
}

.text-center{
    text-align: center;
}



/*------------main---------------*/
main{
    background-color: #ebebeb;
}

main h2{
    color: #666;
    font-weight: bolder;
    margin-left: 5vw;
}
main{
    width:100%;
}
main .main-style{
    padding-bottom: 20px;
    margin:auto;
    width: 90vw;
    
}
main .article-product{
    width: 100%;
    margin: auto;
    background-color: white;
    margin-bottom: 10px;
}
main .article-product img{
    width: 100%;
}

main .article-style{
    margin: 0px;
    padding: 15px;
    background-color: white;
    border-top: solid 1px #ebebeb;
    position: relative;
}
main .article-style i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 1.5s;
}
main .fa-truck:hover {
    transform: rotateZ(-90deg);
}

main .article-style div{
    display: flex;
    align-items:center;
}

main .text-price{
    font-size: 18px;
    font-weight: bold;
    margin:0
}
main .text-offer{
    font-size: 16px;
    font-weight: bold;
    color: #39b54a;
    margin: 0 15px;
    
}
main .description{
    display: none;
    font-size: 16px;
    margin-bottom: 0px;
    color: #666;
}
main article:hover .description{
    display: block;
}
main article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100) ;
}


/*forms*/

main form{
    width: 90vw;
    margin:auto;
    padding: 30px 0px 10px 0px;
}
main .container {
    margin-bottom: 30px;
    font-size: 13px;
    
}
main .container .title{
    font-size: 17px;
    font-weight: bolder;
    margin-bottom: 20px;
    display: block
}
main .container button, .container input{
    width:100%;
    padding: 6px;
    border:none;
    border-radius: 5px;
}

main .container .buttons{
    display: flex;
}

main .container button{
    background:#1259c3;
    color: white;
    font-weight: bold;
    margin: 5px;
}

main .login:hover button{
    background-color:#0022AA
}

main .radio-button input, .check-button input{
    width:20px;
    margin: 0 10px;
}
main .container .radio-button{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

/*--------------footer--------------*/
footer article{
    padding:0px 50px;
}
footer section h4{
    margin-bottom: 0px;
    margin-top: 0px;
    color: #666;
}
footer section p{
    margin-top: 0px;
    color: #666;
    font-size: 12px; 
}
footer section div{
    margin-top: 50px;
    margin-bottom: 10px;
}
footer .icon-style{
    color: #1259c3;
}
footer #credits{
    margin: 40px 20px 15px;
}


@media (min-width: 480px) {
    
    header .header-style-bottom{
        position: relative;
        width: 100%;
        margin: 0;
    }
    header .header-style-bottom li a{
       padding: 0 0 0 2px;
       border-bottom: none;
    }
    header .header-style-top{
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        justify-content: space-between;
    }
    header nav{
        display: flex;
        justify-content: space-between;
    }
    header nav ul{
        display: flex;
        justify-content: space-between;
    }
    header nav li{
        margin: 0 7px;
    }
    header .burger-menu{
        display: none;
    }
    /*-----main------*/
    main  .main-style{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    main .article-product{
        
        width:45%;
        margin: 0px 0px 10px 0px;
    }
    main form{
        width: 60vw;
    }
   
}
@media (min-width: 768px) {
    /*-----header------*/
    header .img-logo{
        width:250px
    }
    header .search-bar{
        width: 40vw;
        margin: 0 20px;
    }
    /*-----main------*/
    main .header-one{
        width:70%
    }
    main .article-product{
        width:21%;   
    }

}
@media (min-width: 1200px) {
    header .search-bar{
        width: 50vw;
        margin: 0 40px;
    }
    footer section{
        display:flex;
    }
    footer .icon-style{
        transition: color 400ms;
    }
    footer .icon-style:hover{
        color: #39b54a;
    }
}